{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/modal/modal_order.css' %}">
  <link rel="stylesheet" href="{% static 'css/delivery/basket.css' %}">
{% endblock css %}

{% block javascript %}
  <script src="https://api-maps.yandex.ru/2.1/?apikey=265fda5e-4f09-49c8-a141-205b2776d1fa&lang=ru_RU"
  type="text/javascript">
  </script>
  <script src="{% static 'js/delivery/api-yandex.js' %}"></script>
  <script defer src="{% static 'js/owl.carousel.min.js' %}"></script>
  <script defer src="{% static 'js/carousel.js' %}"></script>
  <script src="{% static 'js/modal/modal_order.js' %}"></script>
  <script src="{% static 'js/delivery/basket.js' %}"></script>
{% endblock javascript %}


{% block content %}
  <div class="container" style="padding-top: 60px; padding-bottom: 100px">
    <div class="order">
      <h2 class="order__title">Ваш заказ</h2>
      <div class="order__items">
        <div class="summary">
          <div class="summary__info border-line">
            <div class="cashback summary__item">
              <span class="cashback__title summary__title">Кешбэк</span>
              <span class="cashback__num summary__num">{{ cart.get_received_cashback }} ₽ </span>
            </div>
            <div class="delivery summary__item">
              <span class="delivery__title summary__title">Доставка <img src="{% static "images/basket/info.svg" %}"
                                                                         alt="i" class="delivery__img"></span>
              <span class="delivery__num summary__num">Бесплатно</span>
            </div>
          </div>
          <div class="summary__info">
            <div class="promo summary__item">
              <input type="text" class="promo__title summary__title" placeholder="Промокод">
              <span class="promo__num summary__num">Применить</span>
            </div>
            <div class="ball summary__item">
              <span class="ball__title summary__title">Использовать баллы?</span>
              <span class="ball__switch"><input type="checkbox"></span>
            </div>
          </div>
          <div class="summary__cost">
            <p class="summary__text">Сумма заказа</p>
            <p class="summary__price">{{ cart.get_total_price }} ₽</p>
          </div>
          {% if not cart.get_total_price %}
            <div class="summary__btn">Перейти к оформлению</div>
          {% elif user.is_authenticated %}
            <div class="summary__btn open-order modal_order">Перейти к оформлению</div>
          {% else %}
            <div class="summary__btn modal_authentication" data-key="next_order">Перейти к оформлению</div>
          {% endif %}

        </div>
        <div>
          {% if not cart.cart.items %}
            <h2 class="order__title">Корзина пуста</h2>
          {% else %}
            {% for product_id, product in cart.cart.items %}
              <div class="order__item item" id="product_{{ product_id }}">
                <div class="item__del">
                  <img src="{% static 'images/products/close.svg' %}" alt="Х">
                </div>
                <div class="order__info">
                  <div class="order__text">
                    <img src="{{ product.image }}" alt="{{ product.name }}" class="order__img">
                    <div>
                      <h3 class="item__title">{{ product.name }}</h3>
                      <p class="item__price">{{ product.price }} ₽ / {{ product.weight }} гр</p>
                      <h3 class="item__subtitle">Описание:</h3>
                      <p class="item__desc">{{ product.description }}</p>
                    </div>
                  </div>
                  <div class="order__cost">
                    <p class="item__cost">{{ product.price }} ₽</p>
                    <div class="item__count">
                      <p class="item__endcost">{{ product.total }} ₽</p>
                      <div class="count">
                        <span class="count__minus"><img src="{% static 'images/products/minus.svg' %}" alt="-"></span>
                        <span class="count__text">{{ product.quantity }} шт</span>
                        <span class="count__plus"><img src="{% static 'images/products/plus.svg' %}" alt="+"></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
    </div>
    {% if cart.cart_additions.items %}
      <div class="more">
      <div class="h2 title more__title">Добавить к заказу?</div>
      <div class="owl-carousel owl-theme owl-loaded" id="carousel-additions">
      <div class="owl-stage-outer">
      <div class="owl-stage">
    {% endif %} {% for addition_id, addition in cart.cart_additions.items %}
    <div class="owl-item more__item" id="addition_{{ addition_id }}">
      <div class="more__img"><img src="{{ addition.image }}" alt="{{ addition.name }}"></div>
      <p class="more__subtitle">{{ addition.name }}</p>
      <p class="more__price">{{ addition.price }} ₽</p>
      {% if addition.quantity == 0 %}
        <div class="more__btn">Добавить в корзину</div>
        <div class="count more__count">
        <span class="addition_minus count__minus"><img
          src="{% static 'images/products/minus.svg' %}" alt="-"></span>
          <span class="count__text">1 шт</span>
          <span class="addition_plus count__plus"><img
            src="{% static 'images/products/plus.svg' %}" alt="+"></span>
        </div>
      {% else %}
        <div class="more__btn" style="display:none">Добавить в корзину</div>
        <div class="count more__count" style="display:flex">
          <span class="addition_minus count__minus"><img src="{% static 'images/products/minus.svg' %}" alt="-"></span>
          <span class="count__text">{{ addition.quantity }} шт</span>
          <span class="addition_plus count__plus"><img src="{% static 'images/products/plus.svg' %}" alt="+"></span>
        </div>
      {% endif %}
    </div>
  {% endfor %}
    </div>
    </div>
    <div class="owl-prev"><img src="{% static 'images/basket/arrow-left.svg' %}" alt="arrow"></div>
    <div class="owl-next"><img src="{% static 'images/basket/arrow-left.svg' %}" alt="arrow"></div>
    <div class="owl-dots"></div>
    </div>
    </div>

  </div>
{% endblock content %}

{% block modal %}
  <div class="modal micromodal-slide" id="modal_order" aria-hidden="true">
    <div class="modal__overlay" tabindex="-1" data-micromodal-close>
      <div class="modal__container">
        <header>
          <span class="close" data-micromodal-close>x</span>
        </header>
        <main class="modal__content" id="modal-1-content">
          <h3 class="title url__title">Оформление заказа</h3>
          <div class="url__change">
            <label class="form-switch">
              <input id="checked-type-delivery" type="checkbox" name="isPickup" , value="Доставка">
              <i></i> <span id="select-type-delivery">Доставка</span>
            </label>
          </div>
          <div class="address">
            <div class="address__change">
              <h3 class="address__title">Выберите адрес</h3>
              <div class="info-about-shop" style="display: none">
                <br> <span></span>
              </div>
              {% for address in addresses %}
                <div class="address__radio radio">
                  <input id="address-{{ address.id }}" name="address" type="radio" value="{{ address.id }}">
                  <label class="radio__label" for="address-{{ address.id }}">{{ address.address }}</label>
                </div>
              {% endfor %}
              <div class="address__radio radio">
                <input id="address-new" name="address" type="radio" value="new-address">
                <label class="radio__label" for="address-new">Выбрать новый адрес</label>
              </div>
            </div>
            <div class="address__new check-new-address">
              <input id="suggest-address" class="address__inp address__inp--big new_street_home" type="text"
                     placeholder="Адрес">
              <div class="address__dop">
                <input class="address__inp new_entrance" type="text" placeholder="Подъезд">
                <input class="address__inp new_floor" type="text" placeholder="Этаж">
                <input class="address__inp new_apartment" type="text" placeholder="Кв">
              </div>
            </div>
          </div>
          <div class="payment" style="display: inline-block">
            <div class="payment__type">
              <h3 class="payment__title">Выберите тип оплаты</h3>
              <div class="address__radio radio">
                <input id="online" name="payment" type="radio" value="online">
                <label class="radio__label" for="online">Онлайн оплата</label>
              </div>
              <div class="address__radio radio">
                <input id="cart" name="payment" type="radio" value="cart">
                <label class="radio__label" for="cart">Картой при получении</label>
              </div>
              <div class="address__radio radio">
                <input id="cash" name="payment" type="radio" value="cash">
                <label class="radio__label" for="cash">Наличными&nbsp;при&nbsp;получении</label>
              </div>
            </div>
            {#                <div class="payment__info">#}
            {#                    <input type="text" placeholder="Номер карты">#}
            {#                    <input type="text" placeholder="Срок действия">#}
            {#                    <input type="password" placeholder="CVC">#}
            {#                </div>#}
            <div class="payment__balance">
              <span>Укажите сумму, с которой понадобится сдача </span>
              <input id="change" type="text" placeholder="1000">
            </div>
          </div>
          <div class="modal__btn" id="make-order" url="">оформить заказ</div>
        </main>
        <footer></footer>
      </div>
    </div>
  </div>

{% endblock modal %}
