{% extends "base.html" %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/delivery/home.css' %}">
  <link rel="stylesheet" href="{% static 'css/delivery/dish_detail.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
{% endblock css %}

{% block javascript %}
  <script defer src="{% static 'js/delivery/classie.js' %}"></script>
  <script defer src="{% static 'js/delivery/modalEffects.js' %}"></script>
  <script defer src="{% static 'js/delivery/home.js' %}"></script>
{% endblock javascript %}


{% block content %}
  <div class="container" style="position: relative; padding-top: 77px;">
    <div class="owl-carousel owl-theme" id="carousel-promo">
      <div class="item">
        <img src="{% static 'images/carousels/slide-central.png' %}" alt="...">
      </div>
      <div class="item">
        <img src="{% static 'images/carousels/slide-left.png' %}" alt="...">
      </div>
      <div class="item">
        <img src="{% static 'images/carousels/slide-right.png' %}" alt="...">
      </div>
    </div>
  </div>


  <main class="main">
    <div class="container">
      <h2 class="main__title title">
        <span class="title__small">Меню</span>
        <span class="title__big">Меню</span>
      </h2>
      <div class="category__block">
        <div class="main__categories categories">
          {% for category in menu %}
            <div class="categories__item category">
              <a href="#{{ category }}" class="nav__item link">
                <svg class="icon__category">
                  <use xlink:href="../static/assets/img/sprite.svg#pizza"></use>
                </svg>
                <span class="category__text">{{ category|upper }}</span></a>
            </div>
          {% endfor %}
        </div>
        <div class="main__catalog catalog">
          {% for category, products in menu.items %}
            <div class="change-category" id="category_{{ category.id }}" style="width: 100%"></div>
            {% if is_open %}
              {% for product in products %}
                <div class="catalog__item item" id="product_{{ product.id }}">
                  <div class="item__img">
                    <div class="btn md-trigger" data-modal="modal_detail_product">
                      <img src="{{ product.image }}" alt="{{ product.name }}">
                    </div>
                  </div>
                  <p class="item__title">{{ product.name }}</p>
                  <span class="item__price">{{ product.price }} ₽ / {{ product.weight }} гр</span>
                  {% if product.id in cart.cart %}
                    {% with product_id=product.id %}
                      <div class="item__btn" style="display: none">Добавить в корзину</div>
                      <div class="item__hide" style="display: flex">
                        <span class="item__cost">{{ cart.cart.product_id.total }} ₽</span>
                        <div class="item__count">
                          <span class="item__remove"><img src="{% static 'images/menu/minus.svg' %}" alt="minus"></span>
                          <span class="item__count">{{ cart.cart.product_id.quantity }} шт</span>
                          <span class="item__add"><img src="{% static 'images/menu/plus.svg' %}" alt="plus"></span>
                        </div>
                      </div>
                    {% endwith %}
                  {% else %}
                    <div class="item__btn">Добавить в корзину</div>
                    <div class="item__hide">
                      <span class="item__cost">0 ₽</span>
                      <div class="item__count">
                        <span class="item__remove"><img src="{% static 'assets/img/minus.svg' %}" alt="minus"></span>
                        <span class="item__count">0 шт</span>
                        <span class="item__add"><img src="{% static 'assets/img/plus.svg' %}" alt="plus"></span>
                      </div>
                    </div>
                  {% endif %}
                </div>
              {% endfor %}
            {% else %}
              {% for product in products %}
                <div class="catalog__item item" id="product_{{ product.id }}">
                  <div class="item__img">
                    <div class="btn md-trigger" data-modal="modal_detail_product">
                      <img src="{{ product.image }}" alt="{{ product.name }}" class="stop_dish">
                    </div>
                  </div>
                  <p class="item__title">{{ product.name }}</p>
                  <span class="item__price">{{ product.price }} ₽ / {{ product.weight }} гр</span>
                </div>
              {% endfor %}
            {% endif %}
          {% endfor %}
          <div class="md-overlay"></div>
        </div>
      </div>
    </div>
  </main>

{% endblock content %}

{% block modal %}
  {% if is_open %}
    <div class="md-modal md-effect" id="modal_detail_product">
      <div class="md-content">
        <div class="modal-header1">
          <span class="md-close close">x</span>
        </div>
        <div class="modal-body">
          <div class="modal__img"><img src="" alt="product_name" class="img"
                                       width="380px"
                                       height="380px"></div>
          <div class="modal__title">
            <p class="modal__name"><br>product_name</p>
            <p class="modal__cost">product_cost ₽</p>
          </div>
          <p class="modal__text">product_description</p>
          <div class="modal__add">
            <div class="modal__count count">
              <span class="count__minus"><img src="{% static '/images/products/minus.svg' %}" alt="minus"></span>
              <span class="count__text">1 шт</span>
              <span class="count__plus"><img src="{% static '/images/products/plus.svg' %}" alt="plus"></span>
            </div>
            <div class="count__btn" id="detailbtndish_{{ dish.id }}" api="">
              Добавить в корзину
            </div>
          </div>
        </div>
      </div>
    </div>
  {% else %}
    <div class="md-modal md-effect" id="modal_detail_product">
      <div class="md-content">
        <div class="modal-header1">
          <span class="md-close close">x</span>
        </div>
        <div class="modal-body">
          <div class="modal__img"><img src="" alt="product_name" class="img" width="380px"
                                       height="380px"></div>
          <div class="modal__title">
            <p class="modal__name"><br>product_name</p>
            <p class="modal__cost">product_cost ₽</p>
          </div>
          <p class="modal__text">product_description</p>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock modal %}
